h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-grid {
   display: grid;
   grid-template-rows: repeat(11, 50px);
   grid-template-columns: repeat(18, 50px); 
}
.row1 {
    grid-row: 2;
    border-bottom: 0px;
}

.row2 {
    grid-row: 3;
}

.row3 {
    grid-row: 4;
}

.row4 {
    grid-row: 5;
}

.row5 {
    grid-row: 6;
}

.row6 {
    grid-row: 7;
}

.row7 {
    grid-row: 8;
}

.row8 {
    grid-row: 9;
}

.row9 {
    grid-row: 11;
}

p.inline {
    display: inline;
}

button {
   border-top: solid rgb(10, 44, 158) 1px; 
   border-left: solid rgb(10, 44, 158) 1px; 
   border-right: solid rgb(10, 44, 158) 1px; 
   border-bottom: solid rgb(10, 44, 158) 1px;
   width: 50px;
   height: 50px;
   font-weight: 800;
}

button.row3 {
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

button.row4 {
    border-right: 0px;
}

button.row5 {
    border-top: 0px;
    border-right: 0px;
}

button.row6 {
    border-top: 0px;
    border-right: 0px;
}

button.row7 {
    border-top: 0px;
    border-right: 0px;
}

button.row8 {
    margin-top: 40px;
}

button.row9 {

}

#group-1 {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

#group-2 {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

#group-3 {
    grid-row: 4;
    grid-column: 3;
    text-align: center;
}

#group-4 {
    grid-row: 4;
    grid-column: 4;
    text-align: center;
}

#group-5 {
    grid-row: 4;
    grid-column: 5;
    text-align: center;
}

#group-6 {
    grid-row: 4;
    grid-column: 6;
    text-align: center;
}

#group-7 {
    grid-row: 4;
    grid-column: 7;
    text-align: center;
}

#group-8 {
    grid-row: 4;
    grid-column: 8;
    text-align: center;
}

#group-9 {
    grid-row: 4;
    grid-column: 9;
    text-align: center;
}

#group-10 {
    grid-row: 4;
    grid-column: 10;
    text-align: center;
}

#group-11 {
    grid-row: 4;
    grid-column: 11;
    text-align: center;
}

#group-12 {
    grid-row: 4;
    grid-column: 12;
    text-align: center;
}

#group-13 {
    grid-row: 2;
    grid-column: 13;
    text-align: center;
}

#group-14 {
    grid-row: 2;
    grid-column: 14;
    text-align: center;
}

#group-15 {
    grid-row: 2;
    grid-column: 15;
    text-align: center;
}

#group-16 {
    grid-row: 2;
    grid-column: 16;
    text-align: center;
}

#group-17 {
    grid-row: 2;
    grid-column: 17;
    text-align: center;
}

#group-18 {
    grid-row: 1;
    grid-column: 18;
    text-align: center;
}

#item-2 {
    grid-row: 2;
    grid-column: 18;
}

#item-3 {
    border-right: 0px;
}

#item-5 {
    grid-row: 3;
    grid-column: 13;
    border-right: 0px;
}

#item-6 {
    grid-row: 3;
    grid-column: 14;
    border-right: 0px;
}

#item-7 {
    grid-row: 3;
    grid-column: 15;
    border-right: 0px;
}

#item-8 {
    grid-row: 3;
    grid-column: 16 / 16;
    border-right: 0px;
}

#item-9 {
    grid-row: 3;
    grid-column: 17;
    border-right: 0px;
}

#item-10 {
    grid-row: 3;
    grid-column: 18;
}

#item-13 {
    grid-row: 4;
    grid-column: 13;
}

#item-14 {
    grid-row: 4;
    grid-column: 14;
}

#item-15 {
    grid-row: 4;
    grid-column: 15;
}

#item-16 {
    grid-row: 4;
    grid-column: 16;
}

#item-17 {
    grid-row: 4;
    grid-column: 17;
}

#item-18 {
    grid-row: 4;
    grid-column: 18;
}

#item-36 {
    grid-row: 5;
    grid-column: 18;
}

#item-54 {
    grid-row: 6;
    grid-column: 18;
}

#item-58 {
    grid-row: 9;
    grid-column: 4;
    border-right: 0px;
}

#item-59 {
    grid-row: 9;
    grid-column: 5;
    border-right: 0px;
}

#item-60 {
    grid-row: 9;
    grid-column: 6;
    border-right: 0px;
}

#item-61 {
    grid-row: 9;
    grid-column: 7;
    border-right: 0px;
}

#item-62 {
    grid-row: 9;
    grid-column: 8;
    border-right: 0px;
}

#item-63 {
    grid-row: 9;
    grid-column: 9;
    border-right: 0px;
}

#item-64 {
    grid-row: 9;
    grid-column: 10;
    border-right: 0px;
}

#item-65 {
    grid-row: 9;
    grid-column: 11;
    border-right: 0px;
}

#item-66 {
    grid-row: 9;
    grid-column: 12;
    border-right: 0px;
}

#item-67 {
    grid-row: 9;
    grid-column: 13;
    border-right: 0px;
}

#item-68 {
    grid-row: 9;
    grid-column: 14;
    border-right: 0px;
}

#item-69 {
    grid-row: 9;
    grid-column: 15;
    border-right: 0px;
}

#item-70 {
    grid-row: 9;
    grid-column: 16;
    border-right: 0px;
}

#item-71 {
    grid-row: 9;
    grid-column: 17;
}

#item-86 {
    grid-row: 7;
    grid-column: 18;
}

#item-90 {
    grid-row: 11;
    grid-column: 4;
    border-right: 0px;
}

#item-91 {
    grid-row: 11;
    grid-column: 5;
    border-right: 0px;
}

#item-92 {
    grid-row: 11;
    grid-column: 6;
    border-right: 0px;
}

#item-93 {
    grid-row: 11;
    grid-column: 7;
    border-right: 0px;
}

#item-94 {
    grid-row: 11;
    grid-column: 8;
    border-right: 0px;
}

#item-95 {
    grid-row: 11;
    grid-column: 9;
    border-right: 0px;
}

#item-96 {
    grid-row: 11;
    grid-column: 10;
    border-right: 0px;
}

#item-97 {
    grid-row: 11;
    grid-column: 11;
    border-right: 0px;
}

#item-98 {
    grid-row: 11;
    grid-column: 12;
    border-right: 0px;
}

#item-99 {
    grid-row: 11;
    grid-column: 13;
    border-right: 0px;
}

#item-100 {
    grid-row: 11;
    grid-column: 14;
    border-right: 0px;
}

#item-101 {
    grid-row: 11;
    grid-column: 15;
    border-right: 0px;
}

#item-102 {
    grid-row: 11;
    grid-column: 16;
    border-right: 0px;
}

#item-103 {
    grid-row: 11;
    grid-column: 17;
}

#item-118 {
    grid-row: 8;
    grid-column: 18;
}

#text-1 {
    grid-row: 10;
    grid-column: 1;
    margin: 0px;
}

#text-2 {
    grid-row: 11;
    grid-column: 1;
    margin: 0px;
}

p.extraMargin {
    margin-right: 16px;
}

button.otherNonMetals {
    background-color: rgb(255, 171, 145);
}

button.alkaliMetals {
    background-color: rgb(255, 224, 178);
}

button.alkalineEarthMetals {
    background-color: rgb(255, 204, 128);
}

button.rareEarthIanthanoid {
    background-color: rgb(231, 237, 155);
}

button.actinoid {
   background-color: rgb(178, 229, 251); 
}

button.transition {
    background-color: rgb(210, 197, 233);
}

button.otherMetals {
    background-color: rgb(255, 205, 211);
}

button.halogens {
    background-color: rgb(166, 214, 168);
}

button.border-right {
    border-top: 1px;
}